.cajA
{
        position: fixed;
        text-align: center;
        background-color: red;
        width: 98%;
    height: 50px;
    bottom: 0;
    line-height: 50px;
    font-size: 40px;

}

.cajB
{
    position: fixed;
    text-align: center;
    border: 1px blue solid;
    background-color: blue;
    width: 596px;
    height: 50px;
    width: 98%;
    top: 0px;
    line-height: -40px;
    font-size: 40px;
    
}