.campo 
{
    border: 1px solid black;
    width: 600px;
    height: 350px;
    background-color: white;
}

.fila 
{
    width: 580px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
}

.fila div
{
    background-color: gray;
    width: 70px;
    height: 70px;
    margin: 10px;
    position: relative;
    display: inline-block;
    border: 1px solid black;
}

.mina:hover
{
    background-color: red;
}

.mina
{
    bottom: 66px;
}

.mina i:hover
{
    opacity: 100%;
}

.mina i
{
    width: 70px;
    height: 60px;
    opacity: 0%;
}