.greenAdaptable 
{
    width: 100%;
    height: 50px;
    background-color: green;
    margin-top: 20px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    display:flex;
}

.redInmovible 
{
    position: fixed;
}