.rock
{
    position: absolute;
    top: 200px;
    margin-left: 200px;
}

.paper
{
    position: absolute;
    top: 50px;
    margin-left: 100px;
}

.scisor
{
    position: absolute;
    top: 200px;
}

.choose
{
    position: absolute;
    top: 350px;
    margin-left: 110px;
}

#election 
{
    color: yellow;
    background-color: red;
}
.displayNone
{
    display: none;
    opacity: 0%;
}

.displayOkay
{
    display: initial;
    opacity: 100%;
}