.txtCont
{
    border: 1px solid black;
    height: 400px;
    width: 500px;
    background-color: beige;
    
    
}

.txtSel
{
    font-family: 'Oldenburg', cursive;
    margin-top: 25px;
    margin-left: 10px;
    font-weight: bold;
    line-height: 25px;
}

.txtSel::first-line 
{
    color: red;
    
}

.txtSel::first-letter
{
    font-size: 3em;
}