body 
{
    background-color: rgb(238, 237, 237);
}
div.SpContainer 
{
    margin-left: 5px;  
}

div.Imgbichiqueta
{
    line-height: 12px;
    text-align: left;
    margin: 10px;
    padding: 10px;
    width: 160px;
    height: 250px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    margin-left: -5px;  
    border-radius:15px;
}

.priceText 
{
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin: 0px;
}

.objectText 
{
    opacity: 0.8;
    position: absolute;
    margin: 0px;
}

.descriptionText
{
    opacity: 0.5;
    position: relative;
    padding-top: 20px;
}
.imageBic 
{
    width:90%;
    height:60%;
}
.imageic 
{
    position: absolute;
    width:6%;
    height:6%;
    padding-left: 120px;
    opacity: 0.5;
}
.imageH
{
    position: relative;
    width:30px;
    height:30px;
    margin-left:10px 
}
.h
{
    display: inline-block;
    border-right: 1px black solid;
    width:75px;
    height:30px; 
}
.c 
{
    display: inline-block;
    width:75px;
    height:30px; 
}
.imageC
{
    position: relative;
    width:30px;
    height:30px;
    margin-left:35px 
}
