@media only screen and (min-width: 800px) 
{
    body
    {
        background-color: red;
    }
    .green 
    {
        display: none;
        font-size: 50px;
        color: white;
    }

    .red 
    {
        display: block;
        font-size: 50px;
        color: white;
    }
}
@media only screen and (max-width: 799px) 
{
    body
    {
        background-color: green;
        
    }

    .green 
    {
        display: block;
        font-size: 50px;
        color: white;
    }

    .red 
    {
        display: none;
        font-size: 50px;
        color: white;
    }
}
