.centradito 
    {
        position: relative;
        top:60px
    }

.cajA
{
    position: fixed;
    text-align: center;
    background-color: red;
    width: 300px;
    height: 180px;
    bottom: 250px;
    font-size: 35px;
    text-align: center;
    left: 450px;
    z-index: 10;
}


.ciriculito
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px red solid;
    background: white;
    z-index: 15;
}
.c1 
{
    position: relative;
    top: 120px;
    left: 405px;
}
.c2 
{
    position: relative;
    top: 200px;
    left: 405px;
}

.c3 
{
    position: relative;
    top: 120px;
    left: 700px;
}

.c4 
{
    position: relative;
    bottom: 120px;
    left: 700px;
}