.gen 
{
    border-left: 1px solid gray;
    height: 100%;

}
.imag 
{
    position: relative;
    /*PositionFormat*/
    padding-top: 100px;
    margin-left: 50px;
    /*TextFormat*/
    line-height: 5px;
    font-size: 10px;
    color: blue;
}
.lefto
{
    position: absolute;
    top: 100px;
    margin-left: 400px;
}
.boroder
{
    /*TableFormat*/
    border-bottom: 2px solid cyan;
}
.clienteF
{
    position: absolute;
    line-height: 3px;
    top: 200px;
    margin-left: 390px;
    border-left: 5px solid rgb(4, 153, 153);
    border-right: 5px solid rgb(4, 153, 153);
}
.clienteF p
{
    font-size: 12px;
    margin-left: 20px;
    margin-right: 90px;
}
.clienteF h2
{
    margin-left: 15px;
}


.IfTbl
{
    border-collapse: collapse;
    margin-left: 50px;
}
.IfTbl2
{
    border-collapse: collapse;
}


.lft 
{
    text-align: left;
}

.rgt 
{
    text-align: right;
}

.dsc 
{
    max-width: 250px;
    padding-right: 80px;
}

.dsc2
{
    max-width: 250px;
    padding-right: 330px;
}

.cabz
{
    background-color: cyan;
}
.scnd 
{
    vertical-align: 0;
    
}

.fnl 
{
    border-bottom: 2px solid cyan;
}
.fnl2
{
    border-bottom: 10px solid cyan;
}

.Table2
{
    line-height: 15px;
}
.TTL 
{
    font-size: 20px;
}