div.cuadrado {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: red;
    margin: 10px;
}

div.cuadrado.encima {
    opacity: 50%;
}

div.cuadrado.verde 
{
    background-color: green;
}