.block{
    top: 50px;
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;
}
.circle{
    background: red;
    border-radius: 200px;
    color: white;
    height: 500px;
    font-weight: bold;
    width: 500px;
}

.buttonRand
{
    margin-top: 80px;
    margin-left: 380px;
    align-content: center;
}